@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Lato:ital,wght@1,700&display=swap');
body{
    background-color: black;
    /* background: linear-gradient(rgb(255, 255, 255),rgb(68, 203, 230)); */
    height: 100vh;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Dosis', sans-serif;
font-family: 'Lato', sans-serif;   

}
.logo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.1rem;
}
.slogan{
    color: rgb(107, 232, 251);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
/* ---------------------------------------------------ABOUT----------------------------------------- */
 .card{
    border: 2px solid rgb(255, 255, 255);
    margin-top: 100px;
    background: linear-gradient(rgb(0, 179, 255),pink);
    color: rgb(10, 84, 150);
}
.bottom{
    position: sticky;
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
flex-direction: column;

}
.icons{
    margin-top: 10px;
    cursor: pointer;
}
.container{
    min-height: 79vh;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: 'Dosis', sans-serif;
    font-family: 'Lato', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 100%;
    border-radius: 12px;
    background-image: url('song3.jpg');
    background-color: 2px solid white;
    text-align: center;
    align-items: center;

}
.container h1{
    margin-left: 235px;
    color: rgb(0, 0, 0);
}
#progress{
    width: 80vw;
    text-align: center;
    cursor: pointer;
    background-color: rgb(40, 175, 199);
    color: blueviolet;
    
}
#us{
    color: rgb(107, 232, 251);
    text-align: center;
    margin-top: 70px;
}
.songlist{
    display: flex;
    text-align: center;
    align-items: center;
}
.songitem{
   height: 50px;
   display: flex;
   color: rgb(255, 255, 255);
   border: 1px solid white;
   /* width: 100%; */
   background-color: black;
   margin: 12px 5px;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   border-radius: 20px;
}
.songitem:hover{
    /* background: linear-gradient(rgb(141, 22, 246),rgb(12, 176, 231)); */
    background: linear-gradient(rgb(246, 70, 22),rgb(241, 220, 22));
    color: white;
    border: 2px solid white;
}
.songitem img{
    height: 45px;
    width: 45px;
   margin: 0 2px;
   border-radius: 50%;
}
.timespan{
  margin: 0 10px;
}
.timespan i{
  margin: 0 2px;
  cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 14vw;
    font-family: 'Dosis', sans-serif;
    font-family: 'Lato', sans-serif;
}
.songinfo img{
    opacity: 0;
   transition: opacity 0.4s ease-in;
}
